* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

header,
main {
  margin: 0 auto;
  width: min(700px, 90vw);
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

[rel='home'] img {
  max-width: 80px;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  color: #222;
  font-weight: 700;
  text-decoration: none;
}

main {
  margin-bottom: 5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.products {
  display: grid;
  flex: 1rem;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1rem;
}

.product {
  border: 1px solid;
  border-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
  position: relative;
}

.product img {
  border-radius: 0.25rem;
  width: 100%;
}

.details-link {
  margin-top: auto;
}

.details-link a {
  background: #ccc;
  border-radius: 0.25rem;
  color: #222;
  display: block;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s linear;
}

.product:hover {
  border-color: #222;
}

.details-link a:active,
.details-link a:hover {
  background: #222;
  color: #fff;
}

.details-link a::after {
  content: '';
  display: block;
  height: calc(200px + 3.5rem);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.product-details {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 200px auto;
  margin-top: 0.75rem;
}

.product-image {
  width: 200px;
}

.product-image img {
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
